Dự Đoán Doanh Số Thương Mại Điện Tử

Dự đoán doanh số chính xác cho phép các nhà bán lẻ lập kế hoạch tốt hơn cho tương lai của một doanh nghiệp thương mại điện tử. Dự đoán doanh số là một phần quan trọng trong việc đáp ứng kỳ vọng của khách hàng và cung cấp cái nhìn về cách mà thị trường sẽ phản ứng với bất kỳ sản phẩm nào.

Chúng ta sống trong thế giới thương mại điện tử. Chúng ta thấy rất nhiều cửa hàng khác nhau qua mạng. Internet đã làm cho việc giao dịch với bất kỳ ai và ở bất kỳ đâu trở nên khả thi. Chúng ta có thể mua hàng mà không cần rời khỏi nhà, so sánh giá cả giữa các cửa hàng chỉ trong vài giây, và tìm thấy những gì mình thực sự muốn mà không chấp nhận chỉ những lựa chọn tương đối phù hợp đầu tiên. Và tôi tin rằng việc nhìn vào thế giới này thông qua dữ liệu mà nó tạo ra sẽ rất thú vị. Đó là lý do tại sao tôi quyết định khám phá những con số trong thương mại điện tử và cố gắng hiểu rõ hơn về điều đó.

Dữ liệu được sử dụng trong phân tích này được lấy từ tập dữ liệu Kaggle "Dữ Liệu Thương Mại Điện Tử | Các giao dịch thực tế của nhà bán lẻ ở Vương quốc Anh".

Đây là một tập dữ liệu giao dịch chứa tất cả các giao dịch xảy ra giữa ngày 01/12/2010 và 09/12/2011 cho một nhà bán lẻ trực tuyến không có cửa hàng có trụ sở tại Vương quốc Anh. Công ty chủ yếu bán các món quà độc đáo cho mọi dịp. Nhiều khách hàng của công ty là các nhà bán buôn.

Như thường lệ, chúng ta bắt đầu phân tích bằng cách thiết lập môi trường và nhập các thư viện cần thiết.

Chúng ta nhập các thư viện tiêu chuẩn numpy và pandas để có thể thực hiện phân tích với Python, đồng thời cũng cần các thư viện trực quan hóa dữ liệu matplotlib và seaborn để xuất ra những phát hiện thú vị.

Dự đoán doanh số trong thương mại điện tử là một khía cạnh quan trọng trong việc quản lý doanh nghiệp bán lẻ trực tuyến. Dự đoán doanh số chính xác có thể giúp bạn đưa ra quyết định thông minh về quản lý hàng tồn kho, chiến lược tiếp thị và tăng trưởng tổng thể của doanh nghiệp. Dưới đây là một số phương pháp và yếu tố quan trọng để dự đoán doanh số trong thương mại điện tử:

1. Phân Tích Dữ Liệu Lịch Sử:

Bắt đầu bằng cách phân tích dữ liệu doanh số lịch sử của bạn. Tìm hiểu các xu hướng, tính mùa vụ và bất kỳ mô hình nào có thể xuất hiện. Dữ liệu này có thể cung cấp cái nhìn quý giá về hiệu suất trong quá khứ.
2. Dự Đoán Thời Gian:

Các phương pháp dự đoán thời gian, như ARIMA (Tự hồi quy tích lũy trung bình) hoặc Prophet, có thể được sử dụng để dự đoán doanh số tương lai dựa trên dữ liệu doanh số trong quá khứ. Những mô hình này xem xét tính mùa vụ và xu hướng.
3. Mô Hình Học Máy:

Các mô hình học máy như hồi quy, cây quyết định, rừng ngẫu nhiên và mạng nơ-ron có thể được đào tạo trên dữ liệu lịch sử để đưa ra dự đoán. Kỹ thuật tạo đặc trưng, liên quan đến việc chọn và biến đổi các đặc trưng đầu vào liên quan, là rất quan trọng cho các mô hình này.
4. Phân Khúc Khách Hàng:

Chia khách hàng thành các phân khúc để xác định các nhóm khác nhau với hành vi mua sắm khác nhau. Điều này có thể giúp bạn điều chỉnh nỗ lực tiếp thị và dự đoán doanh số chính xác hơn cho từng phân khúc.
5. Yếu Tố Bên Ngoài:

Xem xét các yếu tố bên ngoài có thể ảnh hưởng đến doanh số, như các ngày lễ, điều kiện kinh tế và xu hướng ngành. Việc đưa những yếu tố này vào mô hình của bạn có thể cải thiện độ chính xác.
6. Quản Lý Hàng Tồn Kho:

Dự đoán doanh số chính xác là điều cần thiết cho việc quản lý hàng tồn kho. Cung cấp quá nhiều hoặc quá ít hàng có thể dẫn đến mất doanh số hoặc chi phí thừa. Đảm bảo rằng các dự đoán của bạn phù hợp với mức tồn kho.
7. Phân Tích Chiến Dịch Tiếp Thị:

Phân tích tác động của các chiến dịch tiếp thị đến doanh số. Mô hình phân bổ có thể giúp bạn hiểu những nỗ lực tiếp thị nào đang thúc đẩy nhiều doanh số nhất, cho phép bạn tối ưu hóa chiến lược tiếp thị của mình.
8. Kiểm Tra A/B:

Thực hiện kiểm tra A/B để thử nghiệm các chiến lược khác nhau và xác định đâu là những chiến lược có tác động lớn nhất đến doanh số. Điều này có thể giúp cải thiện các dự đoán của bạn theo thời gian.
9.Phản Hồi và Đánh Giá của Khách Hàng:

Chú ý đến phản hồi của khách hàng và đánh giá sản phẩm. Phản hồi tiêu cực có thể dẫn đến giảm doanh số, trong khi phản hồi tích cực có thể thúc đẩy doanh số. Theo dõi cảm xúc và giải quyết những lo ngại của khách hàng kịp thời.
10. Công Cụ Dự Đoán:

Cân nhắc việc sử dụng phần mềm dự đoán chuyên dụng hoặc nền tảng phân tích thương mại điện tử cung cấp các mô hình và bảng điều khiển được xây dựng sẵn phù hợp với dự đoán doanh số.
11. Giám Sát và Cải Tiến Liên Tục:

Các mô hình dự đoán doanh số nên được giám sát và cập nhật thường xuyên khi dữ liệu mới trở nên có sẵn. Thương mại điện tử là một lĩnh vực năng động, và điều kiện thị trường có thể thay đổi nhanh chóng.
12. Sử Dụng AI và Phân Tích Dự Đoán:

Các kỹ thuật trí tuệ nhân tạo tiên tiến và phân tích dự đoán, chẳng hạn như học sâu và học tăng cường, có thể cung cấp dự đoán doanh số chính xác hơn và tự động, đặc biệt là đối với các tập dữ liệu lớn.
Hãy nhớ rằng dự đoán doanh số không phải lúc nào cũng chính xác 100%, nhưng với việc tinh chỉnh liên tục và sử dụng nhiều nguồn dữ liệu và mô hình khác nhau, bạn có thể cải thiện độ chính xác theo thời gian. Ngoài ra, hãy chuẩn bị để điều chỉnh chiến lược của bạn dựa trên những thông tin thu được từ các dự đoán để tối đa hóa thành công trong thương mại điện tử.

# Import libraries and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
df = pd.read_csv("D:\Đại học\ứng dụng AI\dữ liệu.csv", encoding="latin", dtype={'CustomerID': str})

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

- Chỉ cần nhìn vào 5 hàng đầu tiên của bảng, chúng ta có thể hiểu cấu trúc và các kiểu dữ liệu có trong tập dữ liệu của chúng ta.
- Chúng ta có thể nhận thấy rằng chúng ta sẽ phải xử lý dữ liệu chuỗi thời gian, số nguyên và số thực, cũng như dữ liệu phân loại và văn bản.

# Phân Tích Dữ Liệu Khám Phá (EDA)

Mỗi dự án khoa học dữ liệu đều bắt đầu bằng EDA vì chúng ta cần hiểu những gì mình đang xử lý. Tôi chia EDA thành 2 loại: trực quan và số liệu. Hãy bắt đầu với loại số liệu, vì phương thức đơn giản .describe() của pandas cung cấp cho chúng ta nhiều thông tin hữu ích.

## Tổng quan thống kê nhanh

In [4]:
df.describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

- Chỉ cần một cái nhìn nhanh về dữ liệu bằng phương thức .describe() đã cung cấp cho chúng ta nhiều không gian để suy nghĩ.  
- Chúng ta thấy có số lượng và giá cả âm, và không phải tất cả các bản ghi đều có dữ liệu CustomerID.  
- Chúng ta cũng thấy rằng phần lớn các giao dịch có số lượng từ 3 đến 10 món hàng, và phần lớn các món hàng có giá lên đến 5 bảng.  
- Chúng ta có một số lượng lớn các điểm ngoại lệ lớn mà chúng ta sẽ phải xử lý sau.

## Xử Lý Các Kiểu Dữ Liệu  
- Phương thức .read_csv() thực hiện kiểm tra kiểu cơ bản, nhưng không hoàn hảo.  
- Vì vậy, tốt hơn hết là chúng ta nên xử lý các kiểu dữ liệu trong dataframe trước khi thực hiện bất kỳ sửa đổi nào để ngăn ngừa khó khăn thêm.  
- Mỗi dataframe của pandas có thuộc tính .dtypes giúp chúng ta hiểu những gì hiện có và dữ liệu nào cần được chuyển đổi sang kiểu chính xác.

In [5]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
dtype: object

- Nếu chúng ta có dữ liệu DateTime, tốt hơn là chuyển đổi nó sang kiểu DateTime.  
- Chúng ta không chạm vào InvoiceNo vào lúc này vì có vẻ dữ liệu trong cột này không chỉ có số.  
- Chúng ta chỉ xem 5 hàng đầu tiên, trong khi pandas trong quá trình nhập đã quét toàn bộ dữ liệu và phát hiện rằng kiểu dữ liệu ở đây không phải là số.

In [6]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df = df.set_index('InvoiceDate')

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom

## Xử Lý Giá Trị Null  
- Bước tiếp theo và rất quan trọng là xử lý các giá trị bị thiếu.  

- Thông thường, nếu bạn gặp giá trị null trong tập dữ liệu, bạn cần hiểu bản chất của những giá trị null đó và tác động khả thi mà chúng có thể gây ra cho mô hình.  

- Có một vài chiến lược mà chúng ta có thể sử dụng để khắc phục vấn đề với các giá trị null:  

    - xóa các hàng có giá trị null  
    - xóa đặc trưng có giá trị null  
    - bù đắp dữ liệu bằng giá trị trung bình hoặc giá trị trung vị hoặc sử dụng chiến lược bù đắp khác (phương thức .fillna())

In [8]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

- CustomerID có quá nhiều giá trị null và đặc trưng này không thể dự đoán nhiều, vì vậy chúng ta có thể xóa nó.  
- Việc tạo một đặc trưng khác "Amount of orders per customer" có thể là hợp lý.

In [9]:
df = df.drop(columns=['CustomerID'])

### Hãy kiểm tra xem chúng ta có loại null nào trong phần Description:

In [10]:
df[df['Description'].isnull()].head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country
InvoiceDate,,,,,,
2010-12-01 11:52:00,536414,22139,NaN,56,0.0,United Kingdom
2010-12-01 14:32:00,536545,21134,NaN,1,0.0,United Kingdom
2010-12-01 14:33:00,536546,22145,NaN,1,0.0,United Kingdom
2010-12-01 14:33:00,536547,37509,NaN,1,0.0,United Kingdom
2010-12-01 14:34:00,536549,85226A,NaN,1,0.0,United Kingdom

- Dữ liệu trong các hàng này khá kỳ lạ vì UnitPrice là 0, vì vậy những đơn hàng này không tạo ra doanh thu nào.
- Chúng ta có thể bù đắp bằng "UNKNOWN ITEM" vào lúc này và xử lý chúng sau trong quá trình phân tích.

In [11]:
df['Description'] = df['Description'].fillna('UNKNOWN ITEM')
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
UnitPrice      0
Country        0
dtype: int64

### Kiểm tra từng cột riêng biệt  
- Thật hợp lý khi đi từng đặc trưng và kiểm tra những cạm bẫy mà chúng ta có trong dữ liệu, cũng như hiểu rõ hơn về các con số.  

- Hãy tiếp tục kiểm tra cột Description. Ở đây, chúng ta có thể thấy những mặt hàng đã được mua thường xuyên nhất.

In [12]:
df['Description'].value_counts().head()

Description
WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
Name: count, dtype: int64

- Ở đây, chúng ta có thể thấy các sản phẩm bán chạy nhất, những mặt hàng xuất hiện trong các đơn hàng thường xuyên nhất.

# Để làm cho nó hấp dẫn hơn về mặt hình ảnh, chúng ta sẽ tạo một biểu đồ cột cho 15 mặt hàng hàng đầu.

In [13]:
# Which items were bought more often?
item_counts = df['Description'].value_counts().sort_values(ascending=False).iloc[0:15]
plt.figure(figsize=(18,6))
sns.barplot(x=item_counts.index, y=item_counts.values, palette=sns.cubehelix_palette(15))
plt.ylabel("Counts")
plt.title("Which items were bought more often?");
plt.xticks(rotation=90);

In [14]:
df['Description'].value_counts().tail()

Description
Missing                                1
historic computer difference?....se    1
DUSTY PINK CHRISTMAS TREE 30CM         1
WRAP BLUE RUSSIAN FOLKART              1
PINK BERTIE MOBILE PHONE CHARM         1
Name: count, dtype: int64

- Chúng ta cũng nhận thấy từ mã code ở trên rằng các mặt hàng hợp lệ thường là chữ in hoa và các mặt hàng không hợp lệ hoặc bị hủy là chữ thường.

In [15]:
df[~df['Description'].str.isupper()]['Description'].value_counts().head()

Description
Manual                                572
BAG 125g SWIRLY MARBLES               304
BAG 250g SWIRLY MARBLES               252
3 TRADITIONAl BISCUIT CUTTERS  SET    240
POLYESTER FILLER PAD 40x40cm          193
Name: count, dtype: int64

- Kiểm tra nhanh về kiểu chữ trong Description cho thấy có một số mặt hàng có chữ thường trong tên của chúng và cũng cho thấy rằng các bản ghi chữ thường là cho những mặt hàng đã bị hủy.  
- Ở đây, chúng ta có thể hiểu rằng việc quản lý dữ liệu trong cửa hàng có thể được cải thiện.

In [16]:
# Not full upper case items
lcase_counts = df[~df['Description'].str.isupper()]['Description'].value_counts().sort_values(ascending=False).iloc[0:15]
plt.figure(figsize=(18,6))
sns.barplot(x=lcase_counts.index, y=lcase_counts.values, palette=sns.color_palette("hls", 15))
plt.ylabel("Counts")
plt.title("Not full upper case items");
plt.xticks(rotation=90);

- Kiểm tra các stoke codes có vẻ như chúng có mối tương quan sâu sắc với descriptions - điều này thật hợp lý.

In [17]:
df['StockCode'].value_counts().head()

StockCode
85123A    2313
22423     2203
85099B    2159
47566     1727
20725     1639
Name: count, dtype: int64

In [18]:
# Which stock codes were used the most?
stock_counts = df['StockCode'].value_counts().sort_values(ascending=False).iloc[0:15]
plt.figure(figsize=(18,6))
sns.barplot(x=stock_counts.index, y=stock_counts.values, palette=sns.color_palette("GnBu_d"))
plt.ylabel("Counts")
plt.title("Which stock codes were used the most?");
plt.xticks(rotation=90);

# Kiểm tra tương tự với cột InvoiceNo.

In [19]:
df['InvoiceNo'].value_counts().tail()

InvoiceNo
554023     1
554022     1
554021     1
554020     1
C558901    1
Name: count, dtype: int64

In [20]:
#  Which invoices had the most items?
inv_counts = df['InvoiceNo'].value_counts().sort_values(ascending=False).iloc[0:15]
plt.figure(figsize=(18,6))
sns.barplot(x=inv_counts.index, y=inv_counts.values, palette=sns.color_palette("BuGn_d"))
plt.ylabel("Counts")
plt.title("Which invoices had the most items?");
plt.xticks(rotation=90);

In [21]:
df[df['InvoiceNo'].str.startswith('C')].describe()

           Quantity     UnitPrice
count   9288.000000   9288.000000
mean     -29.885228     48.393661
std     1145.786965    666.600430
min   -80995.000000      0.010000
25%       -6.000000      1.450000
50%       -2.000000      2.950000
75%       -1.000000      5.950000
max       -1.000000  38970.000000

- Có vẻ như các Invoices bắt đầu bằng chữ 'C' là các hóa đơn "Canceling"/"Returning". Điều này giải quyết bí ẩn về số lượng âm.

- Mặc dù vậy, chúng ta lẽ ra nên đi sâu hơn vào phân tích các trường hợp trả lại đó, nhưng vì đơn giản, hãy tạm thời bỏ qua những giá trị đó.

- Chúng ta thực sự có thể bắt đầu một dự án riêng dựa trên dữ liệu đó và dự đoán tỷ lệ trả lại/hủy bỏ cho cửa hàng.

In [22]:
df = df[~df['InvoiceNo'].str.startswith('C')]

In [23]:
df.describe()

            Quantity      UnitPrice
count  532621.000000  532621.000000
mean       10.239972       3.847621
std       159.593551      41.758023
min     -9600.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   13541.330000

- Trong phân tích dữ liệu khám phá, chúng ta có thể quay lại các thao tác và kiểm tra tương tự, chỉ để hiểu cách mà hành động của chúng ta ảnh hưởng đến tập dữ liệu.

- EDA là chuỗi các nhiệm vụ lặp đi lặp lại để hiểu rõ hơn về dữ liệu của chúng ta.

- Ở đây, ví dụ, chúng ta quay lại phương pháp .describe() để có cái nhìn tổng thể về dữ liệu của mình sau một số thao tác.

- Chúng ta vẫn thấy số lượng âm và giá âm, hãy xem xét các bản ghi đó.

In [24]:
# df[df['Quantity'] < 0]
df[df['Quantity'] < 0].head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country
InvoiceDate,,,,,,
2010-12-01 16:50:00,536589,21777,UNKNOWN ITEM,-10,0.0,United Kingdom
2010-12-02 14:42:00,536764,84952C,UNKNOWN ITEM,-38,0.0,United Kingdom
2010-12-03 15:30:00,536996,22712,UNKNOWN ITEM,-20,0.0,United Kingdom
2010-12-03 15:30:00,536997,22028,UNKNOWN ITEM,-20,0.0,United Kingdom
2010-12-03 15:30:00,536998,85067,UNKNOWN ITEM,-6,0.0,United Kingdom

- Ở đây, chúng ta có thể thấy rằng các "Negative quantities" khác dường như là các mặt hàng bị hỏng/mất/tình trạng không rõ ràng.  
- Một lần nữa, chúng ta sẽ chỉ bỏ qua chúng vì sự đơn giản của phân tích cho dự án này.

In [25]:
df = df[df['Quantity'] > 0]
df.describe()

            Quantity      UnitPrice
count  531285.000000  531285.000000
mean       10.655262       3.857296
std       156.830323      41.810047
min         1.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   13541.330000

- Chúng ta cũng thấy giá đơn vị (UnitPrice) âm, điều này không bình thường.
- Hãy kiểm tra điều này.

In [26]:
df[df['UnitPrice'] < 0].describe()

       Quantity  UnitPrice
count       2.0       2.00
mean        1.0  -11062.06
std         0.0       0.00
min         1.0  -11062.06
25%         1.0  -11062.06
50%         1.0  -11062.06
75%         1.0  -11062.06
max         1.0  -11062.06

In [27]:
df[df['UnitPrice'] == -11062.06]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country
InvoiceDate,,,,,,
2011-08-12 14:51:00,A563186,B,Adjust bad debt,1,-11062.06,United Kingdom
2011-08-12 14:52:00,A563187,B,Adjust bad debt,1,-11062.06,United Kingdom

- As there are just two rows, let's ignore them for the moment (the description gives us enough warnings, although we still need some context to understand it better)

In [28]:
df = df[df['UnitPrice'] > 0]
df.describe()

            Quantity      UnitPrice
count  530104.000000  530104.000000
mean       10.542037       3.907625
std       155.524124      35.915681
min         1.000000       0.001000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   13541.330000

- Sau khi đã hoàn thành việc làm sạch dữ liệu và loại bỏ tất cả các bản ghi đáng ngờ, chúng ta có thể bắt đầu tạo một số đặc trưng mới cho mô hình của mình.
- Bắt đầu với yếu tố hiển nhiên nhất - Doanh số bán hàng.
- Chúng ta có số lượng, chúng ta có giá cả - chúng ta có thể tính toán doanh thu.

# Visual EDA

In [29]:
plt.figure(figsize=(3,6))
sns.countplot(x=df[df['Country'] == 'United Kingdom']['Country'])
plt.xticks(rotation=90)

([0], [Text(0, 0, 'United Kingdom')])

In [30]:
plt.figure(figsize=(18,6))
sns.countplot(x=df[df['Country'] != 'United Kingdom']['Country'])
plt.xticks(rotation=90)

([0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36],
 [Text(0, 0, 'France'),
  Text(1, 0, 'Australia'),
  Text(2, 0, 'Netherlands'),
  Text(3, 0, 'Germany'),
  Text(4, 0, 'Norway'),
  Text(5, 0, 'EIRE'),
  Text(6, 0, 'Switzerland'),
  Text(7, 0, 'Spain'),
  Text(8, 0, 'Poland'),
  Text(9, 0, 'Portugal'),
  Text(10, 0, 'Italy'),
  Text(11, 0, 'Belgium'),
  Text(12, 0, 'Lithuania'),
  Text(13, 0, 'Japan'),
  Text(14, 0, 'Iceland'),
  Text(15, 0, 'Channel Islands'),
  Text(16, 0, 'Denmark'),
  Text(17, 0, 'Cyprus'),
  Text(18, 0, 'Sweden'),
  Text(19, 0, 'Finland'),
  Text(20, 0, 'Austria'),
  Text(21, 0, 'Bahrain'),
  Text(22, 0, 'Israel'),
  Text(23, 0, 'Greece'),
  Text(24, 0, 'Hong Kong'),
  Text(25, 0, 'Singapore'),
  Text(26, 0, 'Lebanon'),
  Text(27, 0, 'United Arab Emirates'),
  Text(28, 0, 'Saudi Arabia'),
  Text(29, 0, 'Czech Republic'),
  Text(30, 0, 'Canada'),
  Text(31, 0, 'Unspecified'),
  Text(32, 0, 'Brazil'),
  Text(33, 0, 'USA'),
  Text(34, 0, 'European Community'),
  Text(35, 0, 'Malta'),
  Text(36, 0, 'RSA')])

In [31]:
uk_count = df[df['Country'] == 'United Kingdom']['Country'].count()
all_count = df['Country'].count()
uk_perc = uk_count/all_count
print(str('{0:.2f}%').format(uk_perc*100))

91.51%

- Từ các biểu đồ và tính toán ở trên, chúng ta có thể thấy rằng phần lớn doanh số bán hàng được thực hiện tại Vương quốc Anh và chỉ 8,49% được bán ra nước ngoài.
- Chúng ta có thể nói rằng tập dữ liệu của mình bị lệch về phía Vương quốc Anh.

# Phát hiện các giá trị ngoại lệ (Outliers)
- Có một số phương pháp khác nhau để phát hiện giá trị ngoại lệ:

    - biểu đồ hộp (box plots),
    - sử dụng IQR (khoảng cách giữa các phần tư),
    - biểu đồ phân tán (scatter plot) cũng hoạt động trong một số trường hợp (và đây là một trong số đó).

### Phát hiện giá trị ngoại lệ bằng biểu đồ phân tán (scatter plot) khá trực quan
Bạn vẽ biểu đồ dữ liệu của mình và loại bỏ các điểm dữ liệu mà về mặt trực quan chắc chắn nằm ngoài phạm vi. Giống như trong biểu đồ dưới đây.

In [32]:
plt.figure(figsize=(18,6))
plt.scatter(x=df.index, y=df['UnitPrice'])

## Loại bỏ các giá trị ngoại lệ hiển nhiên:

In [33]:
df = df[df['UnitPrice'] < 25000]
plt.figure(figsize=(18,6))
plt.scatter(x=df.index, y=df['UnitPrice'])
plt.xticks(rotation=90)

(array([14975., 15034., 15095., 15156., 15218., 15279.]),
 [Text(14975.0, 0, '2011-01'),
  Text(15034.0, 0, '2011-03'),
  Text(15095.0, 0, '2011-05'),
  Text(15156.0, 0, '2011-07'),
  Text(15218.0, 0, '2011-09'),
  Text(15279.0, 0, '2011-11')])

- Sau khi loại bỏ các giá trị ngoại lệ hiển nhiên, chúng ta vẫn thấy một số giá trị nằm ngoài phân phối bình thường (*normal distribution*).

### Để hiểu rõ hơn về phân phối của dữ liệu, hãy kiểm tra các phần trăm (percentiles) khác nhau của các đặc trưng số (numeric features).

In [34]:
df.select_dtypes(include=[np.number]).quantile([0.05, 0.95, 0.98, 0.99, 0.999])

       Quantity  UnitPrice
0.050     1.000       0.42
0.950    30.000       9.95
0.980    72.000      14.95
0.990   100.000      16.98
0.999   449.794     165.00

- Chúng ta có thể thấy rằng nếu loại bỏ 2% điểm dữ liệu trên cùng, chúng ta sẽ loại bỏ được các giá trị ngoại lệ tuyệt đối (absolute outliers) và có được một tập dữ liệu cân bằng hơn.

In [35]:
df_quantile = df[df['UnitPrice'] < 125]
plt.scatter(x=df_quantile.index, y=df_quantile['UnitPrice'])
plt.xticks(rotation=90)

(array([14975., 15034., 15095., 15156., 15218., 15279.]),
 [Text(14975.0, 0, '2011-01'),
  Text(15034.0, 0, '2011-03'),
  Text(15095.0, 0, '2011-05'),
  Text(15156.0, 0, '2011-07'),
  Text(15218.0, 0, '2011-09'),
  Text(15279.0, 0, '2011-11')])

In [36]:
df_quantile.describe()

            Quantity      UnitPrice
count  529361.000000  529361.000000
mean       10.555237       3.306499
std       155.632810       4.006631
min         1.000000       0.001000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000     124.870000

- Có vẻ như dữ liệu của chúng ta gần như đã sẵn sàng cho việc mô hình hóa (*modeling*).  
- Chúng ta đã thực hiện việc làm sạch dữ liệu (*clean up*), loại bỏ các giá trị ngoại lệ (*outliers*) làm xáo trộn cân bằng của tập dữ liệu, và loại bỏ các bản ghi không hợp lệ.  
- Giờ đây, dữ liệu của chúng ta trông tốt hơn nhiều! Và nó vẫn giữ được giá trị của mình.

# Kiểm tra trực quan phân phối của các đặc trưng số (*numeric features*)

In [37]:
plt.figure(figsize=(12,4))
sns.distplot(df_quantile[df_quantile['UnitPrice'] < 10]['UnitPrice'].values, kde=True, bins=10)

In [38]:
plt.figure(figsize=(12,4))
sns.distplot(df_quantile[df_quantile['UnitPrice'] < 5]['UnitPrice'].values, kde=True, bins=10, color='green')

- Từ những biểu đồ histogram này, chúng ta có thể thấy rằng phần lớn các mặt hàng được bán trong cửa hàng này nằm trong khoảng giá thấp - từ 0 đến 3 bảng Anh (*pounds*).

In [39]:
plt.figure(figsize=(12,4))
sns.distplot(df_quantile[df_quantile['Quantity'] <= 30]['Quantity'], kde=True, bins=10, color='red')

In [40]:
plt.figure(figsize=(12,4))
sns.distplot(df_quantile[df_quantile['Quantity'] <= 15]['Quantity'], kde=True, bins=10, color='orange')

- Từ các biểu đồ histogram này, chúng ta thấy rằng người mua thường chọn mua từ 1-5 mặt hàng hoặc 10-12 mặt hàng.  
- Có thể đã có một số chương trình khuyến mãi theo bộ sản phẩm (*sets*)?

In [41]:
plt.figure(figsize=(12,4))
sns.distplot(df_quantile[df_quantile['UnitPrice'] < 60]['UnitPrice'], kde=True, bins=10, color='purple')

In [42]:
plt.figure(figsize=(12,4))
sns.distplot(df_quantile[df_quantile['UnitPrice'] < 30]['UnitPrice'], kde=True, bins=10, color='grey')

- Từ các biểu đồ histogram này, chúng ta có thể hiểu rằng phần lớn doanh số bán hàng cho mỗi đơn đặt hàng nằm trong khoảng 1-15 bảng Anh (*pounds*) mỗi đơn.

# Phân tích doanh số theo thời gian (Analysing sales over time)

In [43]:
df_ts = df[['UnitPrice']]
df_ts.head()

                     UnitPrice
InvoiceDate
2010-12-01 08:26:00       2.55
2010-12-01 08:26:00       3.39
2010-12-01 08:26:00       2.75
2010-12-01 08:26:00       3.39
2010-12-01 08:26:00       3.39

- Như chúng ta có thể thấy, mỗi hóa đơn đều có dấu thời gian (*timestamp*), chắc chắn dựa trên thời điểm đặt hàng.  
- Chúng ta có thể lấy mẫu lại dữ liệu thời gian, ví dụ theo tuần, và thử kiểm tra xem có bất kỳ mẫu hình (*patterns*) nào trong doanh số bán hàng không.

In [44]:
plt.figure(figsize=(18,6))
df_resample = df_ts.resample('W').sum()
df_resample.plot()

- Tuần với 0 doanh số bán hàng trong tháng 1 trông rất đáng ngờ, hãy kiểm tra kỹ hơn xem sao.

In [45]:
df_resample['12-2010':'01-2011']

             UnitPrice
InvoiceDate
2010-12-05    38224.49
2010-12-12    88540.65
2010-12-19    47278.94
2010-12-26    25860.39
2011-01-02        0.00
2011-01-09    25072.03
2011-01-16    33919.09
2011-01-23    35064.34
2011-01-30    29676.45

- Giờ thì hợp lý rồi - có thể trong kỳ nghỉ lễ Tết Dương lịch (New Year holidays), cửa hàng đã đóng cửa và không xử lý đơn hàng, nên họ không có doanh số bán hàng nào.

# Chuẩn bị dữ liệu cho mô hình hóa và tạo đặc trưng (*feature creation*)

- Giờ đến phần thú vị nhất của dự án - xây dựng mô hình (*modeling*).  
- Để thực hiện điều này, chúng ta sẽ cần tạo thêm một số đặc trưng (*features*) mới để làm cho mô hình trở nên tinh vi và hiệu quả hơn.

In [46]:
df_clean = df[df['UnitPrice'] < 15]
df_clean.describe()

            Quantity      UnitPrice
count  520395.000000  520395.000000
mean       10.707578       2.978730
std       156.962876       2.669826
min         1.000000       0.001000
25%         1.000000       1.250000
50%         4.000000       2.080000
75%        12.000000       4.130000
max     80995.000000      14.960000

In [47]:
df_clean.index

DatetimeIndex(['2010-12-01 08:26:00', '2010-12-01 08:26:00',
               '2010-12-01 08:26:00', '2010-12-01 08:26:00',
               '2010-12-01 08:26:00', '2010-12-01 08:26:00',
               '2010-12-01 08:26:00', '2010-12-01 08:28:00',
               '2010-12-01 08:28:00', '2010-12-01 08:34:00',
               ...
               '2011-12-09 12:50:00', '2011-12-09 12:50:00',
               '2011-12-09 12:50:00', '2011-12-09 12:50:00',
               '2011-12-09 12:50:00', '2011-12-09 12:50:00',
               '2011-12-09 12:50:00', '2011-12-09 12:50:00',
               '2011-12-09 12:50:00', '2011-12-09 12:50:00'],
              dtype='datetime64[ns]', name='InvoiceDate', length=520395, freq=None)

# Đặc trưng "Số lượng trên mỗi hóa đơn" (*Quantity per invoice*)

- Một feature có thể ảnh hưởng đến kết quả doanh số (sales output) là "Số lượng trên mỗi hóa đơn" (Quantity per invoice). Cùng tìm dữ liệu cho đặc trưng này.

In [48]:
df_join = df_clean.groupby('InvoiceNo')[['Quantity']].sum()

In [49]:
df_join = df_join.reset_index()
df_join.head()

  InvoiceNo  Quantity
0    536365        40
1    536366        12
2    536367        83
3    536368        15
4    536369         3

In [50]:
df_clean['InvoiceDate'] = df_clean.index
df_clean = df_clean.merge(df_join, how='left', on='InvoiceNo')
df_clean = df_clean.rename(columns={'Quantity_x' : 'Quantity', 'Quantity_y' : 'QuantityInv'})
df_clean.tail(15)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country,InvoiceDate,QuantityInv
520380,581587,22631,CIRCUS PARADE LUNCH BOX,12,1.95,France,2011-12-09 12:50:00,105
520381,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,1.65,France,2011-12-09 12:50:00,105
520382,581587,22555,PLASTERS IN TIN STRONGMAN,12,1.65,France,2011-12-09 12:50:00,105
520383,581587,22728,ALARM CLOCK BAKELIKE PINK,4,3.75,France,2011-12-09 12:50:00,105
520384,581587,22727,ALARM CLOCK BAKELIKE RED,4,3.75,France,2011-12-09 12:50:00,105
520385,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,3.75,France,2011-12-09 12:50:00,105
520386,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,3.75,France,2011-12-09 12:50:00,105
520387,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,1.95,France,2011-12-09 12:50:00,105
520388,581587,22629,SPACEBOY LUNCH BOX,12,1.95,France,2011-12-09 12:50:00,105
520389,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,4.15,France,2011-12-09 12:50:00,105
520390,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France,2011-12-09 12:50:00,105
520391,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,France,2011-12-09 12:50:00,105
520392,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France,2011-12-09 12:50:00,105
520393,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France,2011-12-09 12:50:00,105
520394,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,France,2011-12-09 12:50:00,105

In [51]:
df_clean.describe()

,Quantity,UnitPrice,InvoiceDate,QuantityInv
count,520395.000000,520395.000000,520395,520395.000000
mean,10.707578,2.978730,2011-07-05 01:44:16.782867456,533.624937
min,1.000000,0.001000,2010-12-01 08:26:00,1.000000
25%,1.000000,1.250000,2011-03-28 13:28:00,152.000000
50%,4.000000,2.080000,2011-07-20 16:12:00,300.000000
75%,12.000000,4.130000,2011-10-19 13:58:00,567.000000
max,80995.000000,14.960000,2011-12-09 12:50:00,80995.000000
std,156.962876,2.669826,NaN,903.091973

In [52]:
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])

In [53]:
df_clean.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
UnitPrice             float64
Country                object
InvoiceDate    datetime64[ns]
QuantityInv             int64
dtype: object

# Phân loại các đặc trưng Quantity và UnitPrice

- Dựa trên việc phân tích dữ liệu thăm dò (*Exploratory Data Analysis - EDA*) đã thực hiện trước đó, chúng ta có thể nhóm các đặc trưng này thành 6 nhóm cho **Quantity** và 5 nhóm cho **UnitPrice**, bằng cách sử dụng phương pháp `pandas.cut()`.

In [54]:
bins_q = pd.IntervalIndex.from_tuples([(0, 2), (2, 5), (5, 8), (8, 11), (11, 14), (15, 5000)])
df_clean['QuantityRange'] = pd.cut(df_clean['Quantity'], bins=bins_q)
bins_p = pd.IntervalIndex.from_tuples([(0, 1), (1, 2), (2, 3), (3, 4), (4, 20)])
df_clean['PriceRange'] = pd.cut(df_clean['UnitPrice'], bins=bins_p)
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country,InvoiceDate,QuantityInv,QuantityRange,PriceRange
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(2, 3]"
1,536365,71053,WHITE METAL LANTERN,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]"
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(2, 3]"
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]"
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]"

# Trích xuất và phân loại ngày tháng (*Extracting and bucketing dates*)

- Chúng ta đã nhận thấy rằng doanh số bán hàng quà tặng thay đổi tùy theo mùa:

    - Doanh số đạt đỉnh vào quý 4 (*Q4*).
    - Sau đó giảm mạnh vào quý 1 (*Q1*) của năm tiếp theo.
    - Và tiếp tục tăng trưởng cho đến khi đạt đỉnh mới vào quý 4.

- Từ quan sát này, chúng ta có thể tạo ra một đặc trưng mới liên quan đến thời gian, chẳng hạn như "Mùa bán hàng" (*Sales Season*), để giúp cải thiện mô hình. Đặc trưng này có thể được tạo bằng cách phân chia ngày tháng thành các nhóm hoặc nhãn tương ứng với các quý hoặc mùa trong năm.

In [55]:
df_clean['Month'] = df_clean['InvoiceDate'].dt.month
df_clean.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country,InvoiceDate,QuantityInv,QuantityRange,PriceRange,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(2, 3]",12
1,536365,71053,WHITE METAL LANTERN,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]",12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(2, 3]",12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]",12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]",12

In [56]:
bins_d = pd.IntervalIndex.from_tuples([(0,3),(3,6),(6,9),(9,12)])
df_clean['DateRange'] = pd.cut(df_clean['Month'], bins=bins_d, labels=['q1','q2','q3','q4'])
df_clean.tail()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country,InvoiceDate,QuantityInv,QuantityRange,PriceRange,Month,DateRange
520390,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France,2011-12-09 12:50:00,105,"(11, 14]","(0, 1]",12,"(9, 12]"
520391,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,France,2011-12-09 12:50:00,105,"(5, 8]","(2, 3]",12,"(9, 12]"
520392,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France,2011-12-09 12:50:00,105,"(2, 5]","(4, 20]",12,"(9, 12]"
520393,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France,2011-12-09 12:50:00,105,"(2, 5]","(4, 20]",12,"(9, 12]"
520394,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,France,2011-12-09 12:50:00,105,"(2, 5]","(4, 20]",12,"(9, 12]"

# Xây dựng mô hình

## Phân chia dữ liệu thành UK và ngoài UK (*Splitting data into UK and non-UK*)

- Chúng ta cần phân tích riêng biệt hai tập dữ liệu này để tạo ra dữ liệu chuẩn hóa hơn cho mô hình. Có thể tồn tại các mẫu (*patterns*) hoạt động tốt đối với các quốc gia khác nhưng không áp dụng cho UK, hoặc ngược lại.  

- Một giả thuyết thú vị cần kiểm tra: Liệu mô hình được xây dựng dành riêng cho UK có hoạt động tốt trên dữ liệu của các quốc gia khác hay không?

In [57]:
df_uk = df_clean[df_clean['Country'] == 'United Kingdom']
df_abroad = df_clean[df_clean['Country'] != 'United Kingdom']

In [58]:
df_uk.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country,InvoiceDate,QuantityInv,QuantityRange,PriceRange,Month,DateRange
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(2, 3]",12,"(9, 12]"
1,536365,71053,WHITE METAL LANTERN,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]",12,"(9, 12]"
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(2, 3]",12,"(9, 12]"
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]",12,"(9, 12]"
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom,2010-12-01 08:26:00,40,"(5, 8]","(3, 4]",12,"(9, 12]"

## Trích xuất đặc trưng và tạo biến giả (*dummy variables*)

- **Trích xuất đặc trưng**: Quá trình này bao gồm việc xác định và chuyển đổi các cột dữ liệu hiện có thành các đặc trưng mà mô hình học máy có thể hiểu rõ và sử dụng hiệu quả.

- **Tạo biến giả** (*dummy variables*): Dành cho các biến phân loại (*categorical variables*). Chúng ta có thể sử dụng phương pháp `pandas.get_dummies()` để mã hóa chúng thành các cột nhị phân (*binary columns*). Ví dụ, một cột với các giá trị như "UK", "US", "Vietnam" sẽ được mã hóa thành ba cột mới, mỗi cột biểu thị một quốc gia với giá trị 0 hoặc 1.

In [59]:
df_uk_model = df_uk[['UnitPrice', 'QuantityInv', 'QuantityRange', 'PriceRange', 'DateRange']]

In [60]:
df_uk_model.head()

   UnitPrice  QuantityInv QuantityRange PriceRange DateRange
0       2.55           40        (5, 8]     (2, 3]   (9, 12]
1       3.39           40        (5, 8]     (3, 4]   (9, 12]
2       2.75           40        (5, 8]     (2, 3]   (9, 12]
3       3.39           40        (5, 8]     (3, 4]   (9, 12]
4       3.39           40        (5, 8]     (3, 4]   (9, 12]

In [61]:
df_data = df_uk_model.copy()
df_data = pd.get_dummies(df_data, columns=['QuantityRange'], prefix='qr')
df_data = pd.get_dummies(df_data, columns=['PriceRange'], prefix='pr')
df_data = pd.get_dummies(df_data, columns=['DateRange'], prefix='dr')
df_data.head()

,UnitPrice,QuantityInv,"qr_(0, 2]","qr_(2, 5]","qr_(5, 8]","qr_(8, 11]","qr_(11, 14]","qr_(15, 5000]","pr_(0, 1]","pr_(1, 2]","pr_(2, 3]","pr_(3, 4]","pr_(4, 20]","dr_(0, 3]","dr_(3, 6]","dr_(6, 9]","dr_(9, 12]"
0,2.55,40,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True
1,3.39,40,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True
2,2.75,40,False,False,True,False,False,False,False,False,True,False,False,False,False,False,True
3,3.39,40,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True
4,3.39,40,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True

# Chuẩn hóa (*Scaling*)

- Vì phần lớn các đặc trưng của chúng ta nằm trong khoảng 0-1, nên việc chuẩn hóa (*scale*) đặc trưng "QuantityInv" cũng là một ý tưởng hợp lý.  
- Nhìn chung, việc chuẩn hóa các đặc trưng thường là một bước tốt để cải thiện hiệu quả mô hình, đặc biệt đối với các thuật toán nhạy cảm với khoảng cách, như hồi quy logistic (*logistic regression*) hoặc SVM.

In [62]:
from sklearn.preprocessing import scale

df_data['QuantityInv'] = scale(df_data['QuantityInv'])

# Chia dữ liệu thành tập huấn luyện và kiểm tra (*Train-Test Split*)

- Đây là bước quan trọng để xây dựng và đánh giá mô hình.  
- Chúng ta cần phân chia dữ liệu thành hai phần: một tập để huấn luyện mô hình (*training set*) và một tập để kiểm tra khả năng của mô hình (*test set*).

In [63]:
y = df_data['UnitPrice']
X = df_data.drop(columns=['UnitPrice'])

In [64]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=42)

# Kiểm tra và đánh giá các mô hình khác nhau (*Testing and validating different models*)

- Chúng ta sử dụng GridSearch và CrossValidation để kiểm tra ba loại bộ hồi quy (*regressors*):  
    - **Hồi quy tuyến tính** (*Linear Regression*)  
    - **Cây quyết định** (*Decision Tree*)  
    - **Rừng ngẫu nhiên** (*Random Forest*)  

Phương pháp này giúp tối ưu hóa các siêu tham số (*hyperparameters*) và đảm bảo rằng mô hình của bạn được đánh giá trên một tập dữ liệu không chồng chéo với tập huấn luyện, giảm nguy cơ overfitting.

In [65]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# **Hồi quy tuyến tính** (*Linear Regression*)

In [66]:
fit_intercepts = [True, False]
param_grid_linear = dict(fit_intercept=fit_intercepts)
linear_model = LinearRegression()

# **Cây quyết định** (*Decision Tree*)

In [67]:
min_tree_splits = range(2,3)
min_tree_leaves = range(2,3)
param_grid_tree = dict(min_samples_split=min_tree_splits,
                       min_samples_leaf=min_tree_leaves)
tree_model = DecisionTreeRegressor()

# **Rừng ngẫu nhiên** (*Random Forest*)

In [68]:
estimators_space = [100]
min_sample_splits = range(2,4)
min_sample_leaves = range(2,3)
param_grid_forest = dict(min_samples_split=min_sample_splits,
                       min_samples_leaf=min_sample_leaves,
                       n_estimators=estimators_space)
forest_model = RandomForestRegressor()

# Kiểm tra và xác nhận (*Testing and validating*)

Đây là bước để đảm bảo mô hình của bạn hoạt động tốt và đáng tin cậy.

# Creating summary report

In [69]:
cv = 5

models_to_test = ['LinearRegression','DecisionTreeRegressor','RandomForest']
regression_dict = dict(LinearRegression=linear_model,
                       DecisionTreeRegressor=tree_model,
                       RandomForest=forest_model)
param_grid_dict = dict(LinearRegression=param_grid_linear,
                       DecisionTreeRegressor=param_grid_tree,
                       RandomForest=param_grid_forest)

score_dict = {}
params_dict = {}
mae_dict = {}
mse_dict = {}
r2_dict = {}
best_est_dict = {}

for model in models_to_test:
  regressor = GridSearchCV(regression_dict[model], param_grid_dict[model], cv=cv, n_jobs=-1)

  regressor.fit(X_train, y_train)
  y_pred = regressor.predict(X_test)

  # Print the tuned parameters and score
  print(" === Start report for regressor {} ===".format(model))
  score_dict[model] = regressor.best_score_
  print("Tuned Parameters: {}".format(regressor.best_params_))
  params_dict = regressor.best_params_
  print("Best score is {}".format(regressor.best_score_))

  # Compute metrics
  mae_dict[model] = mean_absolute_error(y_test, y_pred)
  print("MAE for {}".format(model))
  print(mean_absolute_error(y_test, y_pred))
  mse_dict[model] = mean_squared_error(y_test, y_pred)
  print("MSE for {}".format(model))
  print(mean_squared_error(y_test, y_pred))
  r2_dict[model] = r2_score(y_test, y_pred)
  print("R2 score for {}".format(model))
  print(r2_score(y_test, y_pred))
  print(" === End of report for regressor {} === \n".format(model))

  # Add best estimator to the dict
  best_est_dict[model] = regressor.best_estimator_
  # ✅ Xác định mô hình tốt nhất dựa trên `best_score_`
best_model_name = max(score_dict, key=score_dict.get)
best_model = best_est_dict[best_model_name]

print(f"✅ Best model: {best_model_name} with score: {score_dict[best_model_name]:.4f}")

 === Start report for regressor LinearRegression ===
Tuned Parameters: {'fit_intercept': False}
Best score is 0.7539427490061379
MAE for LinearRegression
0.7153119740251258
MSE for LinearRegression
1.7357713929975975
R2 score for LinearRegression
0.755062349421775
 === End of report for regressor LinearRegression ===

 === Start report for regressor DecisionTreeRegressor ===
Tuned Parameters: {'min_samples_leaf': 2, 'min_samples_split': 2}
Best score is 0.7548704343609021
MAE for DecisionTreeRegressor
0.6499361213732373
MSE for DecisionTreeRegressor
1.7034714792206989
R2 score for DecisionTreeRegressor
0.7596202451367919
 === End of report for regressor DecisionTreeRegressor ===

KeyboardInterrupt:


1. **GridSearchCV**:
   - Công cụ trong Scikit-learn được sử dụng để tìm kiếm và tối ưu hóa các siêu tham số (*hyperparameters*) của mô hình.
   - `cv=5` thực hiện **Cross-validation** 5 lần để đánh giá mô hình trên các tập con khác nhau của dữ liệu.

2. **Danh sách và từ điển**:
   - `models_to_test`: Chứa tên của các mô hình hồi quy cần kiểm tra.
   - `regression_dict` và `param_grid_dict`: Chứa các mô hình và các lưới tham số (*parameter grid*) để tối ưu hóa với GridSearchCV.

3. **Tập huấn luyện và kiểm tra**:
   - `regressor.fit(X_train, y_train)`: Huấn luyện mô hình trên tập huấn luyện.
   - `regressor.predict(X_test)`: Dự đoán trên tập kiểm tra để đánh giá hiệu suất.

4. **Tính toán các chỉ số hiệu suất**:
   - **MAE** (Mean Absolute Error): Tính sai số tuyệt đối trung bình giữa giá trị thực tế và dự đoán.
   - **MSE** (Mean Squared Error): Tính sai số bình phương trung bình.
   - **R2 score**: Đo lường mức độ phù hợp của mô hình với dữ liệu.

5. **Lưu kết quả**:
   - Các từ điển như `score_dict`, `params_dict`, `mae_dict`, `mse_dict`, `r2_dict`, và `best_est_dict` lưu trữ kết quả đánh giá, tham số tối ưu, và bộ hồi quy tốt nhất.

In [70]:
summary_cols = ['Best Score']
summary = pd.DataFrame.from_dict(r2_dict, orient='index')
summary.index.name = 'Regressor'
summary.columns = summary_cols
summary = summary.reset_index()

# Trực quan hóa kết quả (Visualizing results)

In [71]:
plt.figure(figsize=(12,4))
plt.xlabel('Best score')
plt.title('Regressor Comparison')

sns.barplot(x='Best Score', y='Regressor', data=summary)

# Kết luận

- Đây là một phân tích cơ bản trên tập dữ liệu giao dịch, cùng với việc xây dựng một mô hình dự đoán doanh số bán hàng.  

- **Random Forest Regressor** dường như là mô hình tốt nhất cho dự đoán này, với điểm số **R2 lớn hơn 0.6**, một kết quả không tệ chút nào.

In [75]:
# Chọn mô hình tốt nhất dựa trên score_dict
best_model_name = max(score_dict, key=score_dict.get)  # Chọn mô hình có best_score_ cao nhất
best_model = best_est_dict[best_model_name]

print(f"Mô hình tốt nhất là: {best_model_name} với score = {score_dict[best_model_name]:.4f} và R² = {r2_dict[best_model_name]:.4f}")

# Save the best model and bins using joblib
import joblib
joblib.dump(best_model, 'best_model.pkl')  # Save the model
joblib.dump(bins_q, 'bins_q.pkl')  # Save bins_q
joblib.dump(bins_p, 'bins_p.pkl')  # Save bins_p
joblib.dump(bins_d, 'bins_d.pkl')  # Save bins_d
print("✅ Best model and necessary bins saved successfully!")


# Tạo dữ liệu mới để dự đoán
new_data = pd.DataFrame({
    'QuantityInv': [5],  # Thay đổi 'Quantity' thành 'QuantityInv'
    'UnitPrice': [20],
    'Month': [3],
    'DayOfWeek': [2],
    'Hour': [14],
    'Country_France': [0],  # Các giá trị One-Hot Encoding cho cột 'Country'
    'Country_Germany': [1],
    'Country_Spain': [0],
    'Country_United Kingdom': [0]
})

# Tạo các đặc trưng còn thiếu trong new_data
# Giả sử bạn có các hàm tạo đặc trưng QuantityRange, PriceRange, DateRange từ trước
new_data['QuantityRange'] = pd.cut(new_data['QuantityInv'], bins=bins_q)  # Sử dụng bins_q đã định nghĩa trước
new_data['PriceRange'] = pd.cut(new_data['UnitPrice'], bins=bins_p)  # Sử dụng bins_p đã định nghĩa trước
new_data['DateRange'] = pd.cut(new_data['Month'], bins=bins_d, labels=['q1', 'q2', 'q3', 'q4'])  # Sử dụng bins_d đã định nghĩa trước

# Chuyển đổi các đặc trưng phân loại thành biến giả
new_data = pd.get_dummies(new_data, columns=['QuantityRange'], prefix='qr')
new_data = pd.get_dummies(new_data, columns=['PriceRange'], prefix='pr')
new_data = pd.get_dummies(new_data, columns=['DateRange'], prefix='dr')

# Loại bỏ các cột không cần thiết
new_data = new_data[X_train.columns]  # Giữ lại các cột trùng khớp với X_train


# Dự đoán doanh thu từ dữ liệu mới
predicted_revenue = best_model.predict(new_data)
print(f'Dự đoán doanh thu: {predicted_revenue[0]:.2f}')

Mô hình tốt nhất là: DecisionTreeRegressor với score = 0.7549 và R² = 0.7596
✅ Best model and necessary bins saved successfully!
Dự đoán doanh thu: 6.35

In [77]:
from flask import Flask, request, render_template
import pandas as pd
import joblib

app = Flask(__name__)

# Load the trained model and bins
best_model = joblib.load('best_model.pkl')
bins_q = joblib.load('bins_q.pkl')
bins_p = joblib.load('bins_p.pkl')
bins_d = joblib.load('bins_d.pkl')

@app.route('/', methods=['GET', 'POST'])
def predict():
    if request.method == 'POST':
        try:
            # Get input data from the form
            QuantityInv = float(request.form['QuantityInv'])
            UnitPrice = float(request.form['UnitPrice'])
            Month = int(request.form['Month'])

            # Create a DataFrame with the input data
            new_data = pd.DataFrame({
                'QuantityInv': [QuantityInv],
                'UnitPrice': [UnitPrice],
                'Month': [Month]
            })

            # ... (rest of the feature engineering and prediction code is the same)

            # Tạo các đặc trưng còn thiếu trong new_data
            new_data['QuantityRange'] = pd.cut(new_data['QuantityInv'], bins=bins_q)
            new_data['PriceRange'] = pd.cut(new_data['UnitPrice'], bins=bins_p)
            new_data['DateRange'] = pd.cut(new_data['Month'], bins=bins_d, labels=['q1', 'q2', 'q3', 'q4'])

            # Chuyển đổi các đặc trưng phân loại thành biến giả
            new_data = pd.get_dummies(new_data, columns=['QuantityRange'], prefix='qr')
            new_data = pd.get_dummies(new_data, columns=['PriceRange'], prefix='pr')
            new_data = pd.get_dummies(new_data, columns=['DateRange'], prefix='dr')

            # Loại bỏ các cột không cần thiết
            new_data = new_data[X_train.columns]  # Giữ lại các cột trùng khớp với X_train

            # Make the prediction
            prediction = best_model.predict(new_data)[0]

            # Render the template with the prediction
            return render_template('result.html', prediction=round(prediction, 2))

        except Exception as e:
            return f"Error: {str(e)}"

    # Render the input form if it's a GET request
    return render_template('input.html')

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1